#
# SM6375 specific
#
CONFIG_PINCTRL_SM6375=y
CONFIG_SM_GCC_6375=y
CONFIG_SM_DISPCC_6375=y

#
# PostmarketOS specific
#
CONFIG_USB_ETH=y
CONFIG_USB_ETH_RNDIS=y
CONFIG_DM_CRYPT=y
CONFIG_UEVENT_HELPER=y
CONFIG_FB_SIMPLE=y

CONFIG_QCOM_GPI_DMA=y
CONFIG_QCOM_SPMI_VADC=y

#
# Disable Things
#
CONFIG_DRM_NOUVEAU=n
