#
# SM6375 specific
#
CONFIG_PINCTRL_SM6375=n # If set to y, I dont get any output on FB, idk y
CONFIG_SM_GCC_6375=y
CONFIG_SM_DISPCC_6375=y

#
# PostmarketOS specific
#
CONFIG_USB_ETH=y
CONFIG_USB_ETH_RNDIS=y
CONFIG_DM_CRYPT=y
CONFIG_UEVENT_HELPER=y
CONFIG_FB_SIMPLE=y

#
# Random Hardware Stuff
#
CONFIG_QCOM_GPI_DMA=y
CONFIG_QCOM_SPMI_VADC=y
CONFIG_I2C_QCOM_GENI=y


#
# Disable Things
#
CONFIG_DRM_NOUVEAU=n
